<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBProject.Properties.Settings.marketdbConnectionString"
            connectionString="Data Source=SONY-VAIO;Initial Catalog=marketdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>